<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>Page Test</h1>
	<form action="/user" method="post">
		<input type="text" name="id">
		<input type="text" name="name">
		<input type="text" name="nickname">
		<button type="submit">send</button>
	</form>
	<form action="/user/test" method="put">
		<input type="text" name="id">
		<input type="text" name="name">
		<input type="text" name="nickname">
		<button type="submit">update</button>
	</form>
	<button id="delBtn">delete button</button>
	<button id="upBtn">update button</button>

	<div id="example"></div>

	<!-- Dependencies -->
	<script src="/node_modules/react/dist/react.js"></script>
	<script src="/node_modules/react-dom/dist/react-dom.js"></script>

	<!-- Main -->
	<script src="/client/bundle.js"></script>
	<script>
		var xhttp = new XMLHttpRequest();
		var delBtn = document.getElementById("delBtn");
		delBtn.onclick = function(){
			xhttp.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					alert(this.responseText);
				}
			}
			xhttp.open("delete", "/user/wonny", true);
			xhttp.send();
		}

		var upBtn = document.getElementById("upBtn");
		upBtn.onclick = function(){
			xhttp.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					alert(this.responseText);
				}
			}
			xhttp.open("put", "/user/test", true);
			xhttp.send({
				"id":'test2',
				"name": 'test2',
				"nickname": 'test2'
			});
		}
	</script>
</body>
</html>